:root {
    --yellow: #ffc241;
    --white: #ffffff;
    --orange: #f86d3e;
}

body {
    background: #f6f6f6;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    
}

.container {
    height: 80vh;
    background: #fff;
    position: relative;
    overflow: hidden !important;
    display: flex;
}
.container .welcome{
    width: 50%;
     margin-top: 128px;
     /* margin-left: 10px; */
}
.container .welcome .bold{
   font-size: 55px;
   padding-left: 46px;
}
.container .welcome .about-text{
    font-size: 21px;
    padding-left: 46px;

}
.container .wel-image{
    width: 50%;
    z-index: 1;
    
}
.container .wel-image img {
    object-position: 50% 50%;
    margin-top: 50px;
    height: 500px;
}
.container .welcome button{
    background-color: var(--orange);
    height: 38px;
    width: 116px;
    border-radius: 5px;
    }
.container::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 200%;
    background-color: var(--yellow);
    transform: rotate(120deg);
    right: -25%;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.top-nav .logo {
    display: flex;
    align-items: center;
}

.top-nav .logo .logo-text {
    font-family: "Lato Extended", ;
}

.top-nav .logo .logo-text .yellow {
    color: var(--yellow);
}

.main-nav ul {
    list-style-type: none;
}

.main-nav ul li {
    padding: 0 16px;
    display: inline-block;
}

.main-nav ul li:last-child {
    margin-left: 250px;
    margin-right: 16px;
}

.main-nav ul li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background: var(--orange);
}

.main-nav ul li.icon {
    position: relative;
}

.main-nav ul li.icon .icon-inner {
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -12px;
    right: -5px;
}

.advert{
    display:inline-flex;
    padding: 10px;
    background-color: #F7FDF6;
    
}
.advert .col1 {
    border: solid #AB888B 0.7px;
    border-radius: 10px;
    margin: 100px 10px ;
    height: 150px;
    width: 40%;
    padding: 40px;
}
.advert .col2{
     border: solid #AB888B 0.7px;
     border-radius: 10px;
     margin: 80px 10px;
     width: 60%;
}

.menu{
    background-color: #fff;
    text-align: center; 
    padding-top: 60px;
    
}
.menu .p-menu{
    font-size: 35px;
    font-weight:800;
}
.menu span{
    color: var(--yellow);
}
/* .menu .p-menu .mark::after {
    content: "";
    display: block;
    width: 20px;
    height: 10px;
    background: var(--orange);
} */
.menu .row{
   display: flex ;
    justify-content: space-evenly;
}
.menu .row .card{
    border: solid grey 0.7px;
    height : 70vh;  
    padding: 12px ;
    margin: 35px ;
    box-shadow: 3px 6px 1px#E2E2E2;
    background :transparent;
    border-radius:45px;

}
.menu .row .card .content .burger-name{
    color: rgb(90, 21, 24);
    font-weight: 700;
}
.menu .row .card .content img{
    max-width: 100%;
    height: auto;
    

}
.menu .row .card .content .price {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.menu .row .card .content .price .cart{
    display: inline-flex;
    background-color: #E1EBE6;
    font-size: 30px;
    
}
.slider{
    height: 70vh;
    display: flex;    
    margin-left: 10px;
   
}
.slider .content {
    width: 40%;
    padding-left: 50px;

}
.slider .content .slider-text{
font-size: 50px;
font-weight: 900;
}
.slider .content .slider-text span {
    color: var(--yellow);
}
.slider .content .slider-text1 {
    font-size: 20px;
    color: #807A79;
}

.slider .d-check{
    width: 50%;
    display :flex; 
    justify-content: flex-start; 
     position: relative;
}

.slider .d-check img{
height: 300px;
width: 300px;
}
.slider .d-check .d1{
    position: absolute;
    z-index: 2;
 object-position: 6px 7px;

}
.slider .d-check .d2 {
    position: absolute;
    z-index: 1;
    object-position: 6px 7px;

    
}

.discover{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--yellow);
    
    
}
.discover .content {
    padding-top: 40px;
    width: 50%;
    font-size: 45px;
    font-weight: 700;
    
}
.discover .screen{
    position: relative;
    padding: 71px 20px 50px 20px;
    
    
}
.discover .screen .mob2{
padding-left: 95px;     
}


.footer{
background-color: F7FDF6;
}
.footer .infor{
display: flex;
justify-content: space-evenly;
}
.footer .infor .logo{
display: flex;
align-items: center;
}
.footer .infor .logo .yellow{
   color: var(--yellow);
}
.footer .quick-links p {
    font-size: 20px;
}

.footer .quick-links ul {
    font-size: 15px;
}
.footer .infor .quick-links ul{
list-style-type: none;
}
.footer .infor .contact .send{
    display: flex;
    align-items: center;
}
.footer .infor .contact .send textarea{
    width: 157px;
    height: 20px;
}
.footer .infor .contact .send button    {
    background-color: var(--yellow);
    height: 26px;
}


.footer .contact  {
    padding-top: 20px;
}
.footer .contact p{
    font-size: 20px;
    padding-top: 20px;
}
.footer .copy-right {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
}

.footer .copy-right .social-media {
    display: flex;
    justify-content: space-between;    
}
